<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="loti.homeFront.mapper.HtmlMapper">

	<resultMap type="DataMap" id="clobDataMap">
		<result property="HTML_CONTENT"  column="HTML_CONTENT" javaType="String" jdbcType="CLOB" typeHandler="org.apache.ibatis.type.ClobTypeHandler"></result>
	</resultMap>

	<select id="htmlTemplete" parameterType="String" resultMap="clobDataMap">
	<![CDATA[
		SELECT 	
					HTML_ID
					, HTML_TITLE
					, HTML_CONTENT
					, HTML_GUBUN
					, HTML_PATH
					, MENUID 
		FROM 	TB_HOMEPAGE_MNG
		WHERE 	HTML_ID = #{value, jdbcType=VARCHAR}
	]]>
	</select>
	
	<select id="sample" parameterType="String" resultType="DataMap">
	<![CDATA[
		SELECT	USERNO, SCP.DEC_B64('KEY1',HOME_TEL) AS HOME_TEL, NAME
		FROM	tb_member
		WHERE	ROWNUM < #{value, jdbcType=NUMERIC}
	]]>
	</select>
	
</mapper>
