<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loti.homepageMgr.mapper.HtmlMapper">

	<select id="selectHtmlListCount" parameterType="Map" resultType="int">
	<![CDATA[
		-- HTML관리 -> HTML관리 리스트
	    SELECT COUNT(0) AS CNT
		${where}
   		ORDER BY MENUID
	]]>
	</select>
	
	<select id="selectHtmlList" parameterType="Map" resultType="DataMap">
	<![CDATA[
		SELECT *
		  FROM (SELECT ROWNUM nPaging_rnum
		             , nQuery.*
		          FROM (-- HTML관리 -> HTML관리 리스트
					    SELECT HTML_ID, HTML_TITLE, LDATE, MENUID FROM TB_HOMEPAGE_MNG
						${where}
				   		ORDER BY MENUID
				   	   ) nQuery
	             WHERE 1=1
	               AND ROWNUM <= #{end}
	           )
	     WHERE 1=1
	       AND nPaging_rnum >= #{start}
	]]>
	</select>
	
	<select id="selectHtmlRow" parameterType="String" resultType="DataMap">
	<![CDATA[
		-- HTML관리 -> HTML관리 상세 페이지(미리보기)
		SELECT 
			HTML_ID, HTML_TITLE, HTML_CONTENT, HTML_GUBUN, HTML_PATH,MENUID 
		FROM 
			TB_HOMEPAGE_MNG 
		WHERE 
			HTML_ID = #{htmlId}
	]]>
	</select>
	
	<select id="selectHtmlCountRow" parameterType="String" resultType="int">
	<![CDATA[
		-- HTML관리 -> HTML관리 중복 Html아이디 체크
		SELECT 
			COUNT(HTML_ID) AS COUNT
		FROM 
			TB_HOMEPAGE_MNG 
		WHERE 
			HTML_ID = #{htmlId}
	]]>
	</select>
	
	<insert id="insertHtml" parameterType="Map">
	<![CDATA[
		-- HTML관리 -> HTML관리 등록
		INSERT INTO TB_HOMEPAGE_MNG
							(HTML_ID, HTML_TITLE, MENUID, HTML_CONTENT, HTML_PATH, HTML_GUBUN, LUSERNO, LDATE)
					VALUES  (#{htmlId}, #{htmlTitle}, #{menuid}, #{namoContent}, #{htmlPath}, #{htmlGubun}, #{wuserno}, SYSDATE)
	]]>
	</insert>
	
	<update id="modifyHtml" parameterType="Map">
	<![CDATA[
		-- HTML관리 -> HTML관리 수정
		UPDATE 
			TB_HOMEPAGE_MNG 
		SET
			HTML_TITLE = #{htmlTitle}, HTML_GUBUN = #{htmlGubun}, MENUID = #{menuid}, LUSERNO = #{wuserno}, LDATE= SYSDATE, HTML_CONTENT = #{namoContent}, HTML_PATH = #{htmlPath}
		WHERE
			HTML_ID = #{htmlId}
	]]>
	</update>
	
	<delete id="deleteHtml" parameterType="String">
	<![CDATA[
		-- HTML관리 -> HTML관리 삭제
		DELETE  FROM 
					TB_HOMEPAGE_MNG 
				WHERE
					HTML_ID = #{htmlId}
	]]>
	</delete>
	
</mapper>