<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loti.courseMgr.mapper.NoticeMapper">

	<select id="selectGrNoticeListCount" parameterType="Map" resultType="int">
	<![CDATA[
		-- 과정 공지 리스트.
		SELECT 
			COUNT(0) AS CNT
		FROM 
			TB_GRNOTICE A, tb_member B
		WHERE
			A.USERNO=B.USERNO
			AND A.GRCODE = #{grcode}
			AND a.GRSEQ = #{grseq}
			${whereStr}
		ORDER BY NO DESC
	]]>
	</select>
	
	<select id="selectGrNoticeList" parameterType="Map" resultType="DataMap">
	<![CDATA[
		SELECT *
		  FROM (SELECT ROWNUM nPaging_rnum
		             , nQuery.*
		          FROM (-- 과정 공지 리스트.
						SELECT 
							A.GRCODE, A.GRSEQ, A.NO,
							A.REGDATE, A.USERNO, A.TITLE, 
							A.GROUPFILE_NO, B.NAME
						FROM 
							TB_GRNOTICE A, tb_member B
						WHERE
							A.USERNO=B.USERNO
							AND A.GRCODE = #{grcode}
							AND a.GRSEQ = #{grseq}
							${whereStr}
						ORDER BY NO DESC
					   ) nQuery
	             WHERE 1=1
	               AND ROWNUM <= #{end}
	           )
	     WHERE 1=1
	       AND nPaging_rnum >= #{start}
	]]>
	</select>
	
	<resultMap type="DataMap" id="clobContent">
		<result property="CONTENT"  column="CONTENT" javaType="String" jdbcType="CLOB" typeHandler="org.apache.ibatis.type.ClobTypeHandler"></result>
	</resultMap>
	
	<select id="selectGrNoticeRow" parameterType="Map" resultMap="clobContent">
	<![CDATA[
		-- 과정 공지 상세 정보.
		SELECT 
			A.NO, A.TITLE, A.CONTENT, A.REGDATE, A.GROUPFILE_NO, 
			A.USERNO, B.NAME 
		FROM TB_GRNOTICE A, tb_member B 
		WHERE A.USERNO = B.USERNO 
			AND  GRCODE = #{grcode}
			AND GRSEQ = #{grseq}
			AND NO = #{no}
	]]>
	</select>
	
	<select id="selectGrNoticeMaxNo" parameterType="Map" resultType="Integer">
	<![CDATA[
		-- 과정 공지 수정
		SELECT 
			NVL(MAX(NO), 0) + 1 AS MAX 
		FROM TB_GRNOTICE 
		WHERE GRCODE = #{grcode}
			AND GRSEQ = #{grseq}
	]]>
	</select>
	
	<insert id="insertGrNotice" parameterType="Map">
	<![CDATA[
		-- NoticeDAO.java
		-- 과정 공지 등록
		INSERT INTO TB_GRNOTICE 
			(GRCODE, GRSEQ, NO, 
			 REGDATE, USERNO, TITLE, 
			 GROUPFILE_NO, CONTENT, LUSERNO, 
			 LDATE, VISIT) 
		VALUES 
			( #{grcode}, #{grseq}, #{no},
			  SYSDATE, #{userno}, #{title},
			  #{groupfileNo}, #{namoContent}, #{userno},
			  SYSDATE, 0)
	]]>
	</insert>
	
	<update id="updateGrNotice" parameterType="Map">
	<![CDATA[
		-- 과정 공지 수정
		UPDATE TB_GRNOTICE SET    
			TITLE        = #{title},
			GROUPFILE_NO = #{groupfileNo},
			CONTENT      = #{namoContent},
			LUSERNO      = #{userno},
			LDATE        = SYSDATE
		WHERE  GRCODE       = #{grcode}
			AND    GRSEQ        = #{grseq}
			AND    NO           = #{no}
			AND    USERNO		= #{userno}
	]]>
	</update>
	
	<delete id="deleteGrNotice" parameterType="Map">
	<![CDATA[
		-- 과정 공지 삭제
		DELETE FROM TB_GRNOTICE 
		WHERE GRCODE = #{grcode}
			AND GRSEQ = #{grseq}
			AND  NO = #{no}
	]]>
	</delete>
</mapper>