
<style type="text/css">
		 ///
body{font-family:Gulim,Verdana,Arial;font-size:12px;color:#000000;margin-left:0;margin-top:0}
a:link {color:#000000; text-decoration:none;}
a:visited {color:#000000;  text-decoration:none;}
a:hover {color:#000000; text-decoration:underline;}
td { font-size:12px; font-family:"±¼¸²";}

.com {  font-family: "gulim", "dotum"; font-size: 12px; line-height: 12px; color: #000000}

.text {  font-family: "gulim", "dotum"; font-size: 12px; background-color:#FFFFFF; border: 0 dashed; color:#000000}
.text2 {  font-family: "gulim", "dotum"; font-size: 12px; background-color:#FFFFFF; border: 1 dashed; color:#666666}
.text3 {font-family:µ¸¿ò,seoul,verdana; font-size:12px;color:#323232; }

.form{ font-family:"gulim", "dotum"; border:1 C2C2C2 solid; background:white; font-size:12px; color: #000000}

A.menu:link {	COLOR: #484848; font-family: µ¸¿ò ; FONT-SIZE: 12px; TEXT-DECORATION: none}
A.menu:visited { COLOR: #484848; font-family: µ¸¿ò ; FONT-SIZE: 12px; TEXT-DECORATION: none}
A.menu:active { COLOR: #575757; font-family: µ¸¿ò ; FONT-SIZE: 12px; font-weight:bold; TEXT-DECORATION: none}
A.menu:hover { COLOR: #575757; font-family: µ¸¿ò ; FONT-SIZE: 12px; font-weight:bold; TEXT-DECORATION: none}

A.menu02:link {	COLOR: #484848; font-family: µ¸¿ò ; font-size: 12px; TEXT-DECORATION: none}
A.menu02:visited { COLOR: #484848; font-family: µ¸¿ò ; font-size: 12px; TEXT-DECORATION: none}
A.menu02:active { COLOR: #484848; font-family: µ¸¿ò ; font-size: 12px; font-weight:bold; TEXT-DECORATION: none}
A.menu02:hover { COLOR: #484848; font-family: µ¸¿ò ; font-size: 12px; font-weight:bold; TEXT-DECORATION: none}
		///  
</style>