@charset "utf-8";
@font-face{
    font-family:"NBG";
    src:url('/lib/css/homepage/fonts/NanumBarunGothic.eot');
    src:url('/lib/css/homepage/fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
    	url('/lib/css/homepage/fonts/NanumBarunGothic.woff') format('woff'),
    	url('/lib/css/homepage/fonts/NanumBarunGothic.ttf') format('truetype'),
    	url('/lib/css/homepage/fonts/NanumBarunGothic.svg') format('svg');
}
@font-face {
	font-family:"NSKT";
	src: url('../fonts/NotoSansKR-Thin.woff2') format('woff2'),
		url('../fonts/NotoSansKR-Thin.woff') format('woff'),
		url('../fonts/NotoSansKR-Thin.otf') format('opentype');
}
@font-face {
	font-family:"NSKL";
	src: url('../fonts/NotoSansKR-Light.woff2') format('woff2'),
		url('../fonts/NotoSansKR-Light.woff') format('woff'),
		url('../fonts/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
	font-family:"NSKR";
	src: url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
		url('../fonts/NotoSansKR-Regular.woff') format('woff'),
		url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
	font-family:"NSKM";
	src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
		url('../fonts/NotoSansKR-Medium.woff') format('woff'),
		url('../fonts/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
	font-family:"NSKB";
	src: url('../fonts/NotoSansKR-Black.woff2') format('woff2'),
		url('../fonts/NotoSansKR-Black.woff') format('woff'),
		url('../fonts/NotoSansKR-Black.otf') format('opentype');
}

/* reset */
* {margin: 0; padding: 0;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong,
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; background: transparent; -webkit-text-size-adjust: none; word-break: keep-all;}
fieldset,img{border:0 none;}
ul, ol, dl, dt, dd, menu, li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after{content:''; content:none;}
input, select, textarea,label,fieldset, label{vertical-align: middle;}
button{border:0 none; background-color:transparent; cursor:pointer;}
body{margin: 0; padding: 0; height: 100%; background: #ffffff;}
body,th,td,input,select,textarea,button,small{font-size:16px; font-family:"NSKR"; color:#222222;}
a{color:#222; text-decoration:none;}
a:active, a:hover{text-decoration:underline;}
address,caption,cite,code,dfn,em,var{font-style:normal; font-weight:normal;}
table, th, td {border-spacing: 0; border-collapse: collapse; word-wrap: break-word;}
/*
address, em {font-style:normal;}
i, em, u, cite {font-style:normal}
strong, b, th {font-weight:bold;}
fieldset, img {border:0;}
img {max-width: 100%;width: auto;vertical-align:middle;}
caption, legend, figcaption {position:absolute;overflow:hidden;clip:rect(0,0,0,0);margin:-1px;width:1px;height:1px;font-size:1px;line-height:0;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;font-size: 100%;}
input, textarea, select { border:0;color: #666;vertical-align: middle;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block;}
a, a:hover{text-decoration: none; color:#252525}
button {cursor: pointer;outline: none;*overflow: visible;margin:0;padding:0;border: none;background-color: transparent;vertical-align: middle;}
button::-moz-focus-inner {margin:0;padding:0;border:0}
button, input[type="submit"], input[type="button"], input[type="reset"] {cursor: pointer;border:0}
table {width: 100%;table-layout: fixed}
th,td {vertical-align: middle;}
table, th, td {border-spacing:0;border-collapse: collapse;*border-collapse: collapse;word-wrap: break-word;}
select {-moz-appearance:none;-webkit-appearance:none;appearance:none;}
select::-ms-expand {display: none;}
textarea {width: 100%;overflow-y: auto;resize: none;}
input {padding:0;margin:0;width: 100%;border: 1px solid #ccc;color: #000;border: none;-webkit-border-radius:0;}
input[disabled] {background: #fff}
input,textarea {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input[type="number"], input[type="file"] {-webkit-appearance: none;}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {margin:0;-webkit-appearance: none;}
input[type="text"]::-ms-clear {display: none;}
input[type="radio"] {width:auto;}
input[type="checkbox"] {width:auto;}
input[type="radio"]:disabled + label {color:#666;} */
/* input[readonly='readonly'] {background-color: #eee} */
/* placeholder Default color  */
*::-webkit-input-placeholder {color: #888 !important}
*:-moz-placeholder {color: #888 !important}/* FF 4-18 */
*::-moz-placeholder {color: #888 !important}/* FF 19+ */
*:-ms-input-placeholder {color: #888 !important}/* IE 10+ */
.blind{overflow:hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px; } /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.cl_b{width:0; height:0; font-size:0; line-height:0; clear:both;}
.show{display:block;}
.hide{display:none;}
.tbl{border-collapse:collapse; border-spacing:0;} /* 테이블 초기화 */
.clear_g{display:block; overflow:visible; width:auto; clear:both; *zoom:1;}
.clear_g:after{display:block; visibility:hidden; height:0; font-size:0; clear:both; content:''}
.btn_comm{background:url() no-repeat;} /* 버튼 */
.ico_comm{background:url() no-repeat;} /* 아이콘 */
.tit_comm{background:url() no-repeat;} /* 타이틀 */
.line_comm {background:url() no-repeat;} /* 라인 */
.ta_l{text-align:left;}
.ta_c{text-align:center;}
.ta_r{text-align:right;}
/* z-index
	main > skip > z-index:100
	main > lnb > z-index:1
	header > LNB > depth2_box > z-index:60
	main > bxslider > z-index:50 // 익스에서 50이하는 사진 뒤로 숨어버림
*/
.page_on{color:#f5e880;background-color:#5b58c9;}

/* skip */
.skip{position:absolute; width:100%; top:0; left:0; z-index:100;}
.skip a{display:block; overflow:hidden; width:1px; height:1px; margin-bottom:-1px; text-align:center;}
.skip a:focus,
.skip a:active{width:100%; height:auto; padding:20px 0; color:#ffffff; background:#132436;}

/* wrap */
.wrap{width:100%;}
.wrap:after{content:''; display:block; clear:both;}

/* header */
header{width:100%;border-bottom:1px solid #c9cbc6;}
header:after{content:''; display:block; clear:both;}
.header_area{width:1200px; margin:0 auto;}
.header_area:after{content:''; display:block; clear:both;}

/* logo */
h1{float:left; padding:12px 0 10px 20px;}
h1 a{display:block; width:147px; height:49px; overflow: hidden;}

/* gnb */
#gnb{float:right; padding:25px 0 22px;}
#gnb li{float:left;}
#gnb li a{padding:0 0 0 20px; background:url("../images/common/icon_mypage.png")center left no-repeat; color:#9d9d9d;} 
#gnb li + li a{margin:0 0 0 31px;padding:0 0 0 22px; background:url("../images/common/icon_sitemap.png")center left no-repeat; }

/* LNB */
.lnb_box{position:relative; width:1200px; padding:0 20px; margin:0 auto;}
#lnb{position:absolute; margin:0 auto; z-index:1;}
#lnb:after{content:''; display:block; clear:both;}
.depth1_list{width:198px; box-sizing:border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; border-left:1px solid rgba(255, 255, 255, 0.2); border-right:1px solid rgba(255, 255, 255, 0.2); background:url("../images/main/icon_next.png")156px no-repeat rgba(0,121,186,5);}   
.depth1_list + .depth1_list{ border-top:1px solid rgba(255, 255, 255, 0.2);}
a.depth1{display:block; height: 29px; padding:22px 31px 22px; text-align:left; font-size:20px; color:#ffffff;}
.depth1_list:last-child a.depth1{padding:21px 31px 21px;}
a.depth1:focus,
a.depth1:hover,
a.depth1:active{text-decoration: none; background:url("../images/main/icon_next.png")157px no-repeat rgba(0, 123, 193, 0.8);}
.depth2_box{display:none; position:absolute; right:-197px; top:0; width:196px; height:367px; border-right: 1px solid rgba(255, 255, 255, 0.2); background:rgba(255,255,255,0.9); z-index:60;}  
a.depth2{display:inline-block; height:32px; line-height:32px; margin:15px 0 0 17px; text-align:left; font-size:18px; color:#000000; font-family:"NSKL"; font-weight: bold;} 
a.depth2:hover,
a.depth2:focus,
a.depth2:active{text-decoration:none; box-sizing:border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; border-bottom:1px solid #ffffff;}

/* content */
.content{width:100%; min-height:500px; margin:0 auto; background-color:#f2f3f7;} 
.content:after{content:''; display:block; clear:both;}

/* visual (bxslider) */
.visual_box{width:1200px; padding:0 20px; margin:0 auto; background: #ffffff; overflow:hidden;}
.visual_box:after{content:''; display:block; clear:both;}
.visual_box .bx-wrapper{margin:0 auto; border:0; box-shadow:none;}
.visual_box .bx-wrapper .bx-pager{margin:0 0 0 450px; bottom:20px; left: 620px; } 
.visual_box .bx-wrapper .bx-pager.bx-default-pager a{width:14px; height:14px; border-radius:7px; background:rgba(255, 255, 255, 0.6);}
.visual_box .bx-wrapper .bx-pager.bx-default-pager a.active{background:rgba(255, 255, 255, 1.0);}
.visual_box .bx-wrapper .bx-controls-auto{width:1000px !important; left:0; margin:0 0 0 550px; bottom:20px;}
.visual_box .bx-wrapper .bx-controls-auto .bx-start{width:14px; height:14px; margin:0 5px; background:url("../images/main/icon_start.png")no-repeat;}
.visual_box .bx-wrapper .bx-controls-auto .bx-start.active{background:url("../images/main/icon_start_active.png")no-repeat;}
.visual_box .bx-wrapper .bx-controls-auto .bx-stop{width:14px; height:14px; margin:0 5px; background:url("../images/main/icon_stop.png")no-repeat;}
.visual_box .bx-wrapper .bx-controls-auto .bx-stop.active{background:url("../images/main/icon_stop_active.png")no-repeat;}

/* quick_login_box */
.quick_login_box{width:1200px; padding: 0 20px; margin:0 auto; background: #ffffff;}
.quick_login_box:after{content:''; display:block; clear:both;}
.quick_box{float:left; width:645px;}
.quick_box:after{content:''; display:block; clear:both;}
.quick_box li{float:left; width:20%; height:104px; text-align:center; border-bottom: 2px solid #ffffff;}
.quick_box li:nth-child(1) a{background:url("../images/main/icon_quick1.png")center 15px no-repeat;}
.quick_box li:nth-child(2) a{background:url("../images/main/icon_quick2.png")center 15px no-repeat;}
.quick_box li:nth-child(3) a{background:url("../images/main/icon_quick3.png")center 15px no-repeat;}
.quick_box li:nth-child(4) a{background:url("../images/main/icon_quick4.png")center 15px no-repeat;}
.quick_box li:nth-child(5) a{background:url("../images/main/icon_quick5.png")center 15px no-repeat;}
.quick_box li a{display:block; padding:50px 0 12px; height:44px; font-size: 15px;}
.quick_box li:hover,
.quick_box li:focus,
.quick_box li:active{background:#eeeeee; border-bottom:2px solid #0079ba;}
.quick_box li a:hover,
.quick_box li a:focus,
.quick_box li a:active{text-decoration:none;}
.quick_box li:nth-child(1) a:hover, 
.quick_box li:nth-child(1) a:focus,
.quick_box li:nth-child(1) a:active{background:url("../images/main/icon_quick_hover1.png")center 15px no-repeat;}
.quick_box li:nth-child(2) a:hover, 
.quick_box li:nth-child(2) a:focus,
.quick_box li:nth-child(2) a:active{background:url("../images/main/icon_quick_hover2.png")center 15px no-repeat;}
.quick_box li:nth-child(3) a:hover, 
.quick_box li:nth-child(3) a:focus,
.quick_box li:nth-child(3) a:active{background:url("../images/main/icon_quick_hover3.png")center 15px no-repeat;}
.quick_box li:nth-child(4) a:hover, 
.quick_box li:nth-child(4) a:focus,
.quick_box li:nth-child(4) a:active{background:url("../images/main/icon_quick_hover4.png")center 15px no-repeat;}
.quick_box li:nth-child(5) a:hover, 
.quick_box li:nth-child(5) a:focus,
.quick_box li:nth-child(5) a:active{background:url("../images/main/icon_quick_hover5.png")center 15px no-repeat;}
.login_box{float:right; width:493px; padding:18px 15px 17px; margin:0 0 0 32px; background:#eeeeee;}
.login_box:after{content:''; display:block; clear:both;}
.login{position:relative; float:left; width:174px; margin:0 83px 0 0;}
.login input{width:165px; height:32px; line-height:32px; padding:0 0 0 9px; font-size:14px; color:rgba(43, 43, 43, 0.5); border:none;}
.login input[type="text"]{}
.login input[type="password"]{margin:5px 0 0 0;}
.login a{display:block; position:absolute; top:0; right:-83px; width:77px; line-height:69px; color:#ffffff; background:#0079ba; text-align: center;}
.login_check{position:relative; float:left; width:204px; padding:50px 0 21px 32px;}
.security_check{position:relative; float:left; width:78px; height:15px; }
.security_check input[type="checkbox"]{display:block; width:16px; height:15px; line-height:15px;}
.security_check input[type="checkbox"] + label{display:block; position:absolute; top:0; line-height:15px; padding:0 0 0 19px; background:url("../images/main/login_check_bg.png")center left no-repeat; font-size:12px; color:rgba(43, 43, 43, 6.0);}
.security_check input[type="checkbox"]:checked + label{ background:url("../images/main/login_checked_bg.png")center left no-repeat; }
.id_check{position:relative; float:left; width:95px; height:15px;}
.id_check input[type="checkbox"]{display:block; width:16px; height:15px; line-height:15px;}
.id_check input[type="checkbox"] + label{display:block; position:absolute; top:0; line-height:15px; padding:0 0 0 19px; background:url("../images/main/login_check_bg.png")center left no-repeat; font-size:12px; color:rgba(43, 43, 43, 6.0);}
.id_check input[type="checkbox"]:checked + label{ background:url("../images/main/login_checked_bg.png")center left no-repeat; }
.login_gnb{position:absolute; top:0; height:25px; padding:0 0  9px 0;border-bottom:1px solid #dcdcdc; }
.login_gnb a{font-size:14px; line-height:25px;}
.login_gnb a:last-child{margin:0 0 0 21px;}
.login_after_box{float:right; width:493px; padding:18px 15px 17px; background:#eeeeee;}
.login_after:after{content:''; display:block; clear:both;}
.login_after span{display:block; float:left; line-height:25px; font-family:"NSKL";}
.login_after span:nth-child(1){width:67px; text-align:center; font-size:12px; color:#ffffff; background:#0079ba; border-radius:7px;}
.login_after span:nth-child(2){padding:0 9px 0 8px; font-size:20px; color:#2b2b2b;font-family:"NSKR"; }
.login_after span:nth-child(3){color:#7e7e7e;}
.login_after span:nth-child(4){float:right;}
.login_after span:nth-child(4) a{font-size:14px; color:#7e7e7e;}
.login_after:nth-child(2){margin:9px 0 0 0;}
.login_after:nth-child(2) a{display:block; float:left; width:228px; line-height:35px; text-align:center; background:#ffffff;}
.login_after:nth-child(2) a:nth-child(2){float:right;}

/* tab_link_box */
.tab_link_box{width:1200px; padding:15px 20px 0; margin:0 auto; background: #ffffff;}
.tab_link_box:after{content:''; display:block; clear:both;}
.tab_box{float:left; height:252px; width:645px; }
#tab{position:relative; height:50px; border-bottom: 2px solid #dcdcdc;}
.tab_list{float:left; height:50px; line-height:48px;}
.tab_list:nth-child(n+2){margin:0 0 0 97px;}
.tab_title{display:block; height:50px; border-bottom: 2px solid #dcdcdc; font-size:20px; font-family:"NSKM";}
.tab_title:hover,
.tab_title:focus,
.tab_title:active{text-decoration:none;} 
.tab_content_box{display:none; position:absolute; left:0; width:100%;}
.tab_content_box li{line-height:36px;}
.tab_content_box li:before{content:''; display:block; float:left; width:11px; height:36px; background:url("../images/main/icon_list_before.png")left 17px no-repeat;}
.tab_content_box li:after{content:''; display:block; clear:both;}
.tab_content_box li:last-child:before{width:0; height:0;}
.tab_content_box li a{display:block; float:left; line-height:36px;}
.tab_notice{display:block; height:190px; padding:10px 0 0;}
.tab_notice a{color:#7e7e7e; font-family:"NSKL";}
.tab_notice span{display:block; float:right; line-height:36px; color:#7e7e7e; font-family:"NSKL";}
.tab_scroll_area{position:absolute; left:0; width:100%; height:200px; overflow:auto; overflow-x:hidden;}
.study{table-layout:fixed; position:absolute; left:0; width:50%;}
.study colgroup col:nth-child(1){width:228px;}
.study colgroup col:nth-child(2){width:130px;}
.study colgroup col:nth-child(3){width:71px;}
.study colgroup col:nth-child(4){width:82px;}
.study colgroup col:nth-child(5){width:134px;}
.study th{font-family:"NSKM"; text-align:center; color:#7e7e7e; line-height:25px; border-bottom:1px solid #dcdcdc;}
.study td{font-family:"NSKL"; color:#7e7e7e; padding:7px 0 2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; line-height:16px;} 
.study td a:before{content:''; display:block; float:left; width:11px; height:16px; background:url("../images/main/icon_list_before.png")left 7px no-repeat;}
.study td a{display:inline-block; color:#7e7e7e;}
.study td:nth-child(n+2){text-align:center;}
.tab_study > .tab_more{position:absolute; top:-46px; right:0;}
.tab_more{position:absolute; top:-40px; right:0;}
.tab_cyber li{line-height:200px; text-align:center; color:#7e7e7e; font-family:"NSKL";}
.tab_title_on{border-bottom:2px solid #0079ba; background:url("../images/main/icon_tab_hover.png")bottom center no-repeat;}
.tab_link{float:right; width:493px;}
.tab_link:after{content:''; display:block; clear:both;}
.link_title{line-height:49px; font-size:20px; font-family:"NSKM";}
.link li{float:left; padding:0 29px; margin-top:60px;}
.link li a{display:block; width:186px; margin: 54px 0 0; line-height:36px; font-size:17px; text-align:center; border:1px solid #0079ba; border-radius:30px;}
.link li:nth-child(1){background:url("../images/main/icon_link1.png")center top no-repeat;}
.link li:nth-child(2){background:url("../images/main/icon_link2.png")center top no-repeat;}
.link li:nth-child(3){background:url("../images/main/icon_link3.png")center top no-repeat; margin:18px 0 0 0;}
.link li:nth-child(4){background:url("../images/main/icon_link4.png")center top no-repeat; margin:18px 0 0 0;}

/* year_phone_box */
.year_phone_box{width:1200px; padding:15px 20px; margin:0 auto; background: #ffffff;}
.year_phone_box:after{content:''; display:block; clear:both;}
.year_box{float:left; height:280px; width:645px; }
#month{position:relative;}
.month_list{float:left; width:100px; font-size:18px; text-align:center; background:#dddee4; border-radius:10px;}
.month_list:nth-child(n+2){margin:0 0 0 9px;}
.month_list:nth-child(n+7){margin:6px 0 0 9px;}
.month_list:nth-child(7){margin:6px 0 0;}
.month_title{display:block;}
.month_title:hover,
.month_title:focus,
.month_title:active{text-decoration:none; color:#ffffff; background:#0079ba; border-radius:10px;}
.month_scroll_area{display:none; position:absolute; top:72px; left:0; width:100%; height:160px; overflow:auto; overflow-x:hidden;}
.month_content_on{display:block;}
.month_content_box{}
.month_content_box li{text-align:left;}
.month_content_box li:before{content:''; display:block; float:left; width:11px; height:32px; background:url("../images/main/icon_list_before.png")left 17px no-repeat;}
.month_content_box li:after{content:''; display:block; clear:both;}
.month_no_data:last-child:before{width:0; height:0;}
.month_content_box li a{display:block; float:left; width:400px; line-height:32px; color:#7e7e7e; font-family:"NSKL"; font-size:16px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.month_content_box li span{float:right; line-height:32px; color:#7e7e7e; font-family:"NSKL"; font-size:16px;}
.month_title_on{color:#ffffff; background:#0079ba; border-radius:10px;}
.month_more{position:absolute; top:-34px; right:0;}
.month_no_data{line-height:160px; text-align:center !important; color:#7e7e7e; font-size:16px; font-family:"NSKL";}

.tab_phone_box{width:1200px; padding:15px 20px; margin:0 auto; background: #ffffff;}
.tab_phone_box:after{content:''; display:block; clear:both;}
.tab_phone{float:right; width:493px;}
.phone{padding:10px 30px 9px; border:1px solid #dcdcdc;}
.phone li{padding:0 0 0 35px; line-height:30px;}
.phone li:nth-child(1){background:url("../images/main/icon_phone1.png")left no-repeat;}
.phone li:nth-child(2){background:url("../images/main/icon_phone2.png")left no-repeat;}
.phone li:nth-child(3){background:url("../images/main/icon_phone3.png")left no-repeat;}
.phone li:nth-child(4){background:url("../images/main/icon_phone4.png")left no-repeat;}
.phone li:nth-child(5){background:url("../images/main/icon_phone5.png")left no-repeat;}
.phone li:nth-child(6){background:url("../images/main/icon_phone6.png")left no-repeat;}
.phone li:nth-child(7){background:url("../images/main/icon_phone7.png")left no-repeat;}
.phone li span{float:right; line-height:30px; color:#7e7e7e; font-family:"NSKL";}
.foot_link{width:1200px; padding:15px 20px; margin:0 auto; background: #ffffff;}
.foot_link:after{content:''; display:block; clear:both;}
.foot_link span{display:block; float:left; width:384px; line-height:81px; }
.foot_link span:nth-child(1){background:#0079ba;}
.foot_link span:nth-child(1) a{background:url("../images/main/icon_foot_link1.png")32px no-repeat;}
.foot_link span:nth-child(2){background:#2cb295;margin:0 0 0 23px;}
.foot_link span:nth-child(2) a{background:url("../images/main/icon_foot_link2.png")32px no-repeat;}
.foot_link span:nth-child(3){background:#536c7f;margin:0 0 0 23px;}
.foot_link span:nth-child(3) a{background:url("../images/main/icon_foot_link3.png")32px no-repeat;}
.foot_link span a{color:#ffffff; display:block; padding:0 0 0 115px;}
.menu_quick_box{width:1200px; padding:15px 20px 32px; margin:0 auto; background: #ffffff;}
.menu_quick_box:after{content:''; display:block; clear:both;}
.menu_title{float:left; width:282px; background:#868687;}
.menu_title span{padding:0 60px 0 61px ; line-height:104px; color:#ffffff; font-size:20px; font-family:"NSKM"; background:url("../images/main/icon_menu_title.png")right 17px no-repeat;}
.menu_quick{float:left; width:918px; background:#f0f0f0;}
.menu_quick span{display:block; float:left; width:153px; height:104px; text-align:center;}
.menu_quick span:hover,
.menu_quick span:focus,
.menu_quick span:active{background:#dddddd;}
.menu_quick span a{display:block; padding:64px 0 24px; line-height:16px; }
.menu_quick span a:hover,
.menu_quick span a:focus,
.menu_quick span a:active{text-decoration:none;}
.menu_quick span:nth-child(1) a{background:url("../images/main/icon_menu_quick1.png")center 20px no-repeat;}
.menu_quick span:nth-child(2) a{background:url("../images/main/icon_menu_quick2.png")center 20px no-repeat;}
.menu_quick span:nth-child(3) a{background:url("../images/main/icon_menu_quick3.png")center 20px no-repeat;}
.menu_quick span:nth-child(4) a{background:url("../images/main/icon_menu_quick4.png")center 20px no-repeat;}
.menu_quick span:nth-child(5) a{background:url("../images/main/icon_menu_quick5.png")center 20px no-repeat;}
.menu_quick span:nth-child(6) a{background:url("../images/main/icon_menu_quick6.png")center 20px no-repeat;}
footer{height:168px; background:#434345;}
.footer_area{position:relative; width:1200px; height:168px; margin:0 auto;}
.footer_link{height:68px}
.footer_link span{display:block; float:left; text-align:center; line-height:68px;}
.footer_link span:nth-child(1){width:190px;}
.footer_link span:nth-child(1) a{color:#0991f5; font-weight:inherit;}
.footer_link span:nth-child(2){width:260px;}
.footer_link span:nth-child(3){width:150px;}
.footer_link span:nth-child(4){width:400px;}
.footer_link span:nth-child(5){width:200px;}
.footer_link span a{font-size:18px; color:#bfbfbf; font-family:"NSKL";}
address{line-height:26px; color:#7c7c7c; font-family:"NSKL";}
address span{display:inline-block;}
.footer_area p{line-height:26px; color:#7c7c7c; font-family:"NSKL";}
small{display:block; line-height:26px; color:#7c7c7c; font-family:"NSKL";}
small span{display:inline-block;}
.qrcode{position:absolute; top:68px; right:26px;}