@charset	"utf-8";

/* Base Definition */
body{margin:0; padding:0;color:#666;font-size:12px;font-family:Dotum, "µ¸¿ò",sans-serif;}
div, p, h1, h2, h3, h4, h5, h6, span, th, td, li, dt, dd, form { margin:0; padding:0; }
select, input, textarea	{font-family:Dotum, "µ¸¿ò", arial, sans-serif; color:#666;}
form, div, p, fieldset, ol, ul, dl {margin:0; padding:0;}
legend, hr {display:none;}
ul, ol	   {list-style:none;}

img	{border:0;}
a, 	a:link, a:visited {color:#666666; text-decoration:none; cursor:pointer;}
a:hover, a:active {color:#333333; text-decoration:none; cursor:pointer;}

h2#title{clear:both;padding:0px 0 10px 5px;margin:0;}
h3.title{clear:both;padding:0;margin:0 0 10px 5px;font-size:12px;}

/* Base Definition */
.GreeImg{background: url(../images/sub/sub_greetingsImg.gif) no-repeat right top; width:100%;line-height:16px;}
.depth1{line-height:16px;}

.p1{padding-bottom:20px;}
.p2{padding-bottom:10px;}
.p3{padding-bottom:40px;}
.p4{padding-bottom:60px;}

.ml{margin-left:15px; margin-top:7px;}
